<!doctype html>

<html>

<head>
    <title>Customer Churn Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .label {
            color: white;
        }
        
        form {
            display: grid;
            grid-template-columns: auto auto;
            row-gap: 1vw;
        }
        
        #submit {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    </style>
</head>

<body style="background-color:black">
    <div id="maintext" style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
        <h1 class="text-light mb-2"> Welcome to Customer Churn Prediction Platform </h1>
        <h4 class="text-light mb-5">Provide customer data in a from below.</h4>
        <p class="text-light"> Required fields: gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod,
            MonthlyCharges, TotalCharges</p>

        <form method=post enctype=multipart/form-data>
            <span class=label>Gender</span>
            <select name=gender class=selector>
              <option value=1>Male</option>
              <option value=0>Female</option>
            </select>



            <span class=label>Senior Citizen</span>
            <input type=number name=senior-citizen required>


            <span class=label>Partner</span>
            <select name=partener class=selector>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>

            <span class=label>Dependents</span>
            <select name=dependents class=selector>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>

            <span class=label>Tenure</span>
            <input type=number name=tenure required>


            <span class=label>Phone Service</span>
            <select name=phone-service class=selector>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>


            <span class=label>Multiple Lines</span>
            <select name=multiple-lines class=selector>
              <option value=1>No phone service</option>
              <option value=0>No</option>
              <option value=2>Yes</option>
            </select>


            <span class=label>Internet Service</span>
            <select name=internet-service class=selector>
              <option value=0>DSL</option>
              <option value=1>Fiber optic</option>
              <option value=2>No</option>
            </select>


            <span class=label>OnlineSecurity</span>
            <select name=online-security class=selector>
              <option value=0>No</option>
              <option value=2>Yes</option>
              <option value=1>No internet service</option>
            </select>


            <span class=label>Online Backup</span>
            <select name=online-backup class=selector>
              <option value=0>No</option>
              <option value=2>Yes</option>
              <option value=1>No internet service</option>
            </select>


            <span class=label>Device Protection</span>
            <select name=device-protection class=selector>
              <option value=0>No</option>
              <option value=1>Yes</option>
              <option value=1>No internet service</option>
            </select>


            <span class=label>Tech Support</span>
            <select name=tech-support class=selector>
              <option value=0>No</option>
              <option value=2>Yes</option>
              <option value=1>No internet service</option>
            </select>


            <span class=label>Streaming TV</span>
            <select name=streaming-tv class=selector>
              <option value=0>No</option>
              <option value=2>Yes</option>
              <option value=1>No internet service</option>
            </select>


            <span class=label>Streaming Movies</span>
            <select name=streaming-movies class=selector>
              <option value=0>No</option>
              <option value=2>Yes</option>
              <option value=1>No internet service</option>
            </select>


            <span class=label>Contract</span>
            <select name=contract class=selector>
              <option value=0>Month-to-Month</option>
              <option value=1>One year</option>
              <option value=2>Two year</option>
            </select>


            <span class=label>Paperless Billing</span>
            <select name=paperless-billing class=selector>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>


            <span class=label>Payment Method</span>
            <select name=payment-method class=selector>
              <option value=2>Electronic check</option>
              <option value=3>Mailed check</option>
              <option value=0>Bank transfer (automatic)</option>
              <option value=1>Credit card (automatic)</option>
            </select>

            <span class=label>Monthly Charges</span> <input type=number name=monthly-charges required>

            <span class=label>Total Charges</span> <input type=number name=total-charges required>



            <input id=submit type=submit value=Predict>
        </form>
    </div>
</body>

</html>