<!doctype html>
<html>

<head>
    <title>Your Prediction!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Sans', sans-serif;
        }
    </style>
</head>

<body style="background-color:black">
    <div id="maintext" style=" margin:auto; width:700px; height:300px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
        <h1 class="text-light mb-5"> Your Prediction </h1>
        <h4 class="text-light mb-5"> Will the customer churn? <strong>{{ res.prediction }}</strong> </h4>
        <h4 class="text-light mb-5"> With the confidence of: <strong> {{ res.confidence }} %</strong> </h4>

        <a href="{{ url_for('home') }}"><button class="btn btn-primary mb-2">Try again?</button></a>

    </div>
</body>

</html>